/SKZ-lib/nbproject/private/
/SKZ-lib/build/
/SKZ-lib/dist/
/SKZ-ejb/nbproject/private/
/SKZ-ejb/build/
/SKZ-ejb/dist/
/SKZ-war/nbproject/private/
/SKZ-war/build/
/SKZ-war/dist/*
/nbproject/private/*
/build/*
/dist/*

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

/PrihvatPodataka/nbproject/private/