/SKZ-lib/nbproject/private/
/SKZ-lib/build/
/SKZ-lib/dist/
/SKZ-ejb/nbproject/private/
/SKZ-ejb/build/
/SKZ-ejb/dist/
/SKZ-war/nbproject/private/
/SKZ-war/build/
/SKZ-war/dist/
/nbproject/private/
/build/

/SKZ-ws/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/nbproject/private/
/Calculator/CalculatorClientApp/build/
/SKZ-ws/build/
/SKZ-ws/dist/
/WebApplication1/nbproject/private/
/SKZweb/nbproject/private/
/SKZweb/build/
/SKZweb/dist/