<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="LIKZ-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/aqdbDev</jta-data-source>
    <class>dhz.skz.aqdb.entity.Agregacije</class>
    <class>dhz.skz.aqdb.entity.AnalitickeMetode</class>
    <class>dhz.skz.aqdb.entity.CiljeviPracenja</class>
    <class>dhz.skz.aqdb.entity.Dijelovi</class>
    <class>dhz.skz.aqdb.entity.DozvoljeneGranice</class>
    <class>dhz.skz.aqdb.entity.EtalonBoca</class>
    <class>dhz.skz.aqdb.entity.EtalonCistiZrakKvaliteta</class>
    <class>dhz.skz.aqdb.entity.EtalonDilucijska</class>
    <class>dhz.skz.aqdb.entity.Flag</class>
    <class>dhz.skz.aqdb.entity.Granice</class>
    <class>dhz.skz.aqdb.entity.IndustrijskePostajeSvojstva</class>
    <class>dhz.skz.aqdb.entity.IskazVremena</class>
    <class>dhz.skz.aqdb.entity.IspitneVelicine</class>
    <class>dhz.skz.aqdb.entity.IzvorPodataka</class>
    <class>dhz.skz.aqdb.entity.IzvorProgramKljuceviMap</class>
    <class>dhz.skz.aqdb.entity.KategorijeGranica</class>
    <class>dhz.skz.aqdb.entity.Komentar</class>
    <class>dhz.skz.aqdb.entity.Komponenta</class>
    <class>dhz.skz.aqdb.entity.KomponentaHasRelevantneDirektive</class>
    <class>dhz.skz.aqdb.entity.KomponentaMetodaLink</class>
    <class>dhz.skz.aqdb.entity.Korisnik</class>
    <class>dhz.skz.aqdb.entity.Kvarovi</class>
    <class>dhz.skz.aqdb.entity.LokacijaMjernogMjesta</class>
    <class>dhz.skz.aqdb.entity.MjerneJedinice</class>
    <class>dhz.skz.aqdb.entity.ModelUredjaja</class>
    <class>dhz.skz.aqdb.entity.Mreza</class>
    <class>dhz.skz.aqdb.entity.NivoValidacije</class>
    <class>dhz.skz.aqdb.entity.OdgovornoTijelo</class>
    <class>dhz.skz.aqdb.entity.Odrzavanje</class>
    <class>dhz.skz.aqdb.entity.OdrzavanjeHasDijelovi</class>
    <class>dhz.skz.aqdb.entity.PlanOdrzavanja</class>
    <class>dhz.skz.aqdb.entity.PlanUmjeravanja</class>
    <class>dhz.skz.aqdb.entity.Podatak</class>
    <class>dhz.skz.aqdb.entity.PodatakSirovi</class>
    <class>dhz.skz.aqdb.entity.Podrucje</class>
    <class>dhz.skz.aqdb.entity.Postaja</class>
    <class>dhz.skz.aqdb.entity.PostajaUredjajLink</class>
    <class>dhz.skz.aqdb.entity.PrimateljProgramKljuceviMap</class>
    <class>dhz.skz.aqdb.entity.PrimateljiPodataka</class>
    <class>dhz.skz.aqdb.entity.ProgramMjerenja</class>
    <class>dhz.skz.aqdb.entity.ProgramUredjajLink</class>
    <class>dhz.skz.aqdb.entity.Proizvodjac</class>
    <class>dhz.skz.aqdb.entity.PrometnePostajeSvojstva</class>
    <class>dhz.skz.aqdb.entity.RelevantneDirektive</class>
    <class>dhz.skz.aqdb.entity.Reprezentativnost</class>
    <class>dhz.skz.aqdb.entity.SnapSektori</class>
    <class>dhz.skz.aqdb.entity.Uloge</class>
    <class>dhz.skz.aqdb.entity.UlogeHasKorisnik</class>
    <class>dhz.skz.aqdb.entity.Umjeravanje</class>
    <class>dhz.skz.aqdb.entity.UmjeravanjeHasIspitneVelicine</class>
    <class>dhz.skz.aqdb.entity.UmjeravanjeKomentar</class>
    <class>dhz.skz.aqdb.entity.UmjerneTocke</class>
    <class>dhz.skz.aqdb.entity.UmjerniLaboratorij</class>
    <class>dhz.skz.aqdb.entity.Uredjaj</class>
    <class>dhz.skz.aqdb.entity.ValidatorModelIzvor</class>
    <class>dhz.skz.aqdb.entity.Validatori</class>
    <class>dhz.skz.aqdb.entity.VrstaMreze</class>
    <class>dhz.skz.aqdb.entity.VrstaOdrzavanja</class>
    <class>dhz.skz.aqdb.entity.VrstaOpreme</class>
    <class>dhz.skz.aqdb.entity.VrstaPostajeIzvor</class>
    <class>dhz.skz.aqdb.entity.VrstaUmjeravanja</class>
    <class>dhz.skz.aqdb.entity.ZemljopisneKarakteristike</class>
    <class>dhz.skz.aqdb.entity.ZeroSpan</class>
    <class>dhz.skz.aqdb.entity.ZeroSpanReferentneVrijednosti</class>
    <class>dhz.skz.aqdb.entity.FlagZaProgramMjerenja</class>
    <class>dhz.skz.aqdb.entity.MetodaUmjerneTocke</class>
    <class>dhz.skz.aqdb.entity.OdrzavanjeHasDijelovi</class>
    <class>dhz.skz.aqdb.entity.StanjeMjerenja</class>
    <class>dhz.skz.aqdb.entity.ZadnjiSirovi</class>
    <class>dhz.skz.aqdb.entity.Obavijesti</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <!--            <property name="eclipselink.jdbc.batch-writing" value="JDBC" />
            <property name="eclipselink.jdbc.batch-writing.size" value="1000" />-->
    </properties>
  </persistence-unit>
</persistence>
